*{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(https://c4.wallpaperflare.com/wallpaper/120/906/458/ed-sheeran-guitar-red-smock-wallpaper-preview.jpg) no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0,1);
}
.login-form{
    width: 678px;
    top: 40%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: absolute;
    color: #fff;
}
.login-form h1 {
    font-size: 45px;
    text-align:left;
    margin: 50px 0;
}
.login-form p{
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
}
.login-form input{
    font-size: 16px;
    width: 300px;
    padding: 15px 10px;
    border: 9;
    outline: none;
    border-radius: 5px;
}
.login-form button{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 10px;
    width: 10%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(92, 188, 119);
}